
<h1>Competition List</h1>

<table class="table table-hover">
  <tr>
    <th>Class<th>Type<th>Season<th>Date<th>Timezone<th>Name<th>City, Country<th>References<th>Comment<th>status
  </tr>

<% competitions.each do |competition|%>
<%  now = Time.now
  status = (now > competition[:ending_date]+1) ? :done : (now > competition[:starting_date]) ? :ongoing : :incomming

   status_info = {done: "warning", ongoing: "success", incomming: "default"}

%>
  <tr class="<%=h status_info[status] %>">
    <td><%=h competition[:competition_class] %>
    <td><%=h competition[:competition_type] %>
    <td><%=h competition[:season] %>
    <td><%=h competition[:starting_date].strftime("%Y/%m/%d(%a)") %>-<%=h competition[:ending_date].strftime("%m/%d(%a)") %>
    <td><%=h competition[:timezone] %>
    <td><a href="competition/<%=h competition[:key] %>"><%=h competition[:name] %></a>
    <td><%=h competition[:city] %>, <%=h competition[:country] %>
    <td>
      <% if competition[:site_url].to_s != "" %>
        <a href="<%=h competition[:site_url]%>">[official result]<span class="glyphicon glyphicon-link"></a>
	  <% end %>
   <td><%=h competition[:comment] %>
   <td>
     <%= 
	case status
	  when :done
	    "closed #{h time_ago_in_words(competition[:ending_date])} ago"
	  when :ongoing
	    "ongoing"
	  else
	   "#{h time_ago_in_words(competition[:starting_date])} to go"
	end
	%>
<% end %>
</table>

count: <%= Competition.count %> / 
page: <%= page %> / 
max: <%= max_page %>
<nav>
  <ul class="pagination">
     <% if page-1<=0 %>
	<li class="disabled">
	  <span aria-hidden="true" class="disabled">&laquo;</span>
	</li>
     <% else %>
	<li>
	  <a href="/competitions?p=<%=h page-1 %>" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
	</li>
      </a>    
     <% end %>

     <% (1..max_page).each {|i| %>

	  <% if i == page %>
	  <li class="disabled"><a><%=h i %></a></li>
	  <% else %>
	  <li><a href="/competitions?p=<%=h i %>"><%=h i %></a></li>
	  <% end %>
	</li>
     <% } %>

     <% if page >= max_page %>
     <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
     <% else %>
     <li><a href="/competitions?p=<%=h page+1%>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
       </li>
     <% end %>
    </li>
  </ul>
</nav>
