
<h1>Competition List</h1>

<table class="table table-hover">
  <tr>
    <th>Class<th>Type<th>Season<th>Date<th>Timezone<th>Name<th>City, Country<th>References<th>Comment<th>status
  </tr>

<% competitions.each do |competition|%>
<%  now = Time.now
  status = (now > competition[:ending_date]) ? "done" : (now > competition[:starting_date]) ? "ongoing" : "incomming"

  status = (now > competition[:ending_date]) ? "warning" : (now > competition[:starting_date]) ? "success" : "default"
%>
  <tr class="<%=h status %>">
    <td><%=h competition[:competition_class] %>
    <td><%=h competition[:competition_type] %>
    <td><%=h competition[:season] %>
    <td><%=h competition[:starting_date].strftime("%Y/%m/%d(%a)") %>-<%=h competition[:ending_date].strftime("%m/%d(%a)") %>
    <td><%=h competition[:timezone] %>
    <td><a href="competition/<%=h competition[:key] %>"><%=h competition[:name] %></a>
    <td><%=h competition[:city] %>, <%=h competition[:country] %>
    <td><a href="<%=h competition[:site_url]%>">[official result]</a>
   <td><%=h competition[:comment] %>
   <td><% word = time_ago_in_words(competition[:starting_date]) %>
     <%= (competition[:ending_date] < now) ? "closed #{h word} ago" : (now > competition[:starting_date]) ? "ongoing" : " #{h word }to go" %> 
<% end %>
</table>
