<hr>
<nav class="crumb">
  <ol class="breadcrumb">
    <li><a href="/">Home</a>
    <li><a href="/competitions">Competitions</a>
  </ol>
</nav>
<hr>
<!-- ================================================================ -->

<h1><%=h competition[:name] %></h1>

<table class="table">
  <tr>
    <th>Location<td><%=h competition[:city] %>, <%=h competition[:country] %>
  </tr>
  <tr>
    <th>Date</th>
    <td><%=h competition[:starting_date].strftime("%Y/%m/%d") %> -
      <%=h competition[:ending_date].strftime("%Y/%m/%d") %>
    </td>
  </tr>
  <tr>
    <th>
      Official Site
    <td>
      <a href="<%=h competition[:site_url] %>" target="_blank">Result<span class="glyphicon glyphicon-link"></a>
  </tr>
</table>

<h2> Skating Order / Result</h2>

<table class="table table-striped table-hover">
<thead>
<tr>
  <th>Category<th>Short Program / Dance<th>Free Skating / Dance<th>Result<th>Official Site
</thead>
<% competition.categories.each {|category| %>
<tr>
  <td><a href="<%=h category[:entry_url] %>"><%=h category.name %><a>
   <% segment = category.segments %>
  <td><a href="/competition/<%=h competition[:key]%>/<%=h category.name %>/<%=h segment.first.name %>/result"><%=h segment.first.name %></a> (<a href="<%=h segment.first.score_url %>">judge score</a>)
  <td><% if segment.second %>
         <a href="/competition/<%=h competition[:key]%>/<%=h category.name %>/<%=h segment.second.name %>/result"><%=h segment.second.name %></a> (<a href="<%=h segment.second.score_url %>">judge score</a>)
      <% end %>
  <td><%= link_to("Result", "/competition/#{h competition[:key]}/#{h category.name}/result")  %>
  <td>
    [<a href="<%=h category.entry_url %>" target="_blank">entry<span class="glyphicon glyphicon-link"></a>]
    [<a href="<%=h category.result_url %>" target="_blank">result<span class="glyphicon glyphicon-link"></a>]
<% } %>
</table>

<h2>Time Schedule</h2>

<%
 ar = competition.categories.map {|category| 

  category.segments.map {|segment|
    {category: category.name, segment: segment.name, starting_time: segment.starting_time || Time.at(0)}
  }
 }.flatten

 first_date = Date.new(competition[:starting_date].year, competition[:starting_date].month, competition[:starting_date].day)

 classes = ['warning', 'danger', 'success', 'info']
%>

<table class="table table-hover">
  <tr>
    <th>Starting Time (<%=h competition[:timezone] %>)<th>Tokyo/Asia (UTC<%=h ActiveSupport::TimeZone.create("Asia/Tokyo").now.strftime("%z")[0..2] %>)<th>Content
  </tr>
  <% ar.sort_by {|item| item[:starting_time]}.each {|hash| %>
  <% dt = Date.new(hash[:starting_time].year, hash[:starting_time].month, hash[:starting_time].day) %>
  <tr class="<%=h (classes[(dt - first_date) % classes.size]) %>">
    <% timezone = normalize_timezone(competition[:timezone] ) %>
    <% sto = stj = "" %>
    <% if hash[:starting_time].nil? || hash[:starting_time] == Time.at(0)
       else
         sto = hash[:starting_time].in_time_zone(timezone).strftime("%Y/%m/%d %H:%M")
         stj = hash[:starting_time].in_time_zone("Tokyo").strftime("%Y/%m/%d %H:%M")
       end %>
    <td><%=h sto  %>
    <td><%=h stj %>
    <td>

      <%
	 if (category = competition.categories.find_by_name(hash[:category])) && (segment = category.segments.find_by_name(hash[:segment])) && (!segment.skating_orders.empty?)
%>
<a href="/skating_order/<%=h competition.key %>/<%=h hash[:category] %>/<%=h hash[:segment] %>"><%=h hash[:category] %> - <%=h hash[:segment] %></a>      
<% else %>
<%=h hash[:category] %> - <%=h hash[:segment] %>
<% end %>





  <% } %>
      
      
</table>
