<h1>Competition List</h1>

<table class="table table-striped table-hover">
  <tr>
    <th>Class<th>Type<th>Season<th>Date<th>Timezone<th>Name<th>City, Country<th>References<th>Comment
  </tr>

<% competitions.each do |competition|%>
<%  now = Time.now
  status = (now > competition[:ending_date]) ? "done" : (now > competition[:starting_date]) ? "ongoing" : "incomming"

  status = (now > competition[:ending_date]) ? "warning" : (now > competition[:starting_date]) ? "success" : "default"
%>
  <tr class="<%= status %>">
    <td><%= competition[:competition_class] %>
    <td><%= competition[:competition_type] %>
    <td><%= competition[:season] %>
    <td><%= competition[:starting_date].strftime("%Y/%m/%d(%a)") %>-<%= competition[:ending_date].strftime("%m/%d(%a)") %>
    <td><%= competition[:timezone] %>
    <td><a href="competition?key=<%= competition[:key] %>"><%= competition[:name] %></a>
    <td><%= competition[:city] %>, <%= competition[:country] %>
    <td><a href="<%= competition[:site_url]%>">[official result]</a>
    <td><%= competition[:comment] %>

<% end %>
</table>
