
<% competition = Competition.find_by_key(params[:comp_key]) %>
<% category = competition.categories.find_by_name(params[:category]) %>
<% segment = category.segments.find_by_name(params[:segment]) %>


<hr>
<nav class="crumb">
  <ol class="breadcrumb">
    <li><a href="/">Home</a>
    <li><a href="/competitions">Competitions</a>
    <li><a href="/competition/<%=h competition.key %>"><%=h competition.name %></a>
    <li><%=h category.name %>
    <li><%=h segment.name %>
  </ol>
</nav>
<hr>
<!-- ================================================================ -->


<h1>Segment Result</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Ranking<th>Skater<th>Nation<th>TSS<th>TES<th>PCS<th>SS<th>TR<th>PE<th>CH<th>IN<th>Deduction<th>StartingNumber
    </tr>
  </thead>
  <% segment.segment_results.sort_by {|segr| segr.ranking.to_i }.each {|seg_res| %>
  <tr>
    <td><%=h seg_res.ranking %>
    <td>
      <%= link_to(seg_res.skater.name, "/skater/%d" % seg_res.skater.isu_number) %>

    <% [:skater_nation, :tss, :tes, :pcs, :components_ss, :components_tr, :components_pe, :components_ch, :components_in, :deductions, :starting_number].each {|key| %>
    <td><%=h seg_res[key] %>
    <% } %> 

  <% } %>

</table>
