<% competition = Competition.find_by_key(params[:comp_key]) %>
<% category = competition.categories.find_by_name(params[:category]) %>
<% segment = category.segments.find_by_name(params[:segment]) %>


<hr>
<nav class="crumb">
  <ol class="breadcrumb">
    <li><a href="/">Home</a>
    <li><a href="/competitions">Competitions</a>
    <li><a href="/competition/<%= competition.key %>"><%= competition.name %></a>
    <li><%= category.name %>
    <li><%= segment.name %>
  </ol>
</nav>
<hr>
<!-- ================================================================ -->


<h1>Skating Order</h1>

<% 
   warm_up_time = 7.5 * 60
   playing_time = {
   sp: 6.5 * 60,
   fs_men: 8 * 60,
   fs_not_men: 7.5 * 60
} %>

<h3>Assumptions of Elapse Time:</h3>
<ul>
  <li>Warm Up: <%= warm_up_time / 60 %>min
  <li>Short Program: <%= playing_time[:sp] / 60 %>min
  <li>Free Skating for Men: <%= playing_time[:fs_men] / 60 %>min
  <li>Free Skating for ex Men: <%= playing_time[:fs_not_men] / 60 %>min
</ul>



<table class="table table-hover">
  <thead>
    <tr>
      <th>Starting Number<th>Skater<th>Nation<th>Group<th>Expected Starting Time (<%= competition.timezone %>)<th>Expected Starting Time (Asia/Tokyko)
    </tr>
  </thead>

  <% timezone = competition.timezone %>
  <% starting_time = segment.starting_time %>
  <% group = 0 %>
  <% if segment.name == "Short Program" || segment.name == "Short Dance"
        playing_time = playing_time[:sp]
     else
        if category.name == "Men" || category.name == "男子"
          playing_time = playing_time[:fs_men]
        else
          playing_time = playing_time[:fs_not_men]
        end
     end
  %>
  <% segment.skating_orders.each {|order| %>
    <% if order.group.to_i > group; starting_time += warm_up_time; group = order.group.to_i; %>
      <tr class="info"><td>-<td>Warming Up Group <%= group %><td><td><td><td>
    <% end %>
    <tr>
    <% [:starting_number, :skater_name, :skater_nation, :group].each {|key| %>
    <td><%= order[key] %>
    <% } %> 
    <td>
      <%= starting_time.in_time_zone(normalize_timezone(timezone)) %>
    <td>
      <%= starting_time.in_time_zone("Asia/Tokyo") %>      
      <% starting_time += 6.5 * 60 %>
  <% } %>

</table>

