<% category = params[:category] || "Men" %>

<h1>Skaters</h1>

<ul>
  <li>World Standings (ISU site)
  <a href="http://www.isuresults.com/ws/ws/wsmen.htm">Men</a> / 
  <a href="http://www.isuresults.com/ws/ws/wsladies.htm">Ladies</a> / 
  <a href="http://www.isuresults.com/ws/ws/wspairs.htm">Pairs</a> / 
  <a href="http://www.isuresults.com/ws/ws/wsdance.htm">Ice Dance</a>

<li>Biographies

<a href="http://www.isuresults.com/bios/fsbiosmen.htm">Men</a> / 
<a href="http://www.isuresults.com/bios/fsbiosladies.htm">Ladies</a> / 
<a href="http://www.isuresults.com/bios/fsbiospairs.htm">Pairs</a> / 
<a href="http://www.isuresults.com/bios/fsbiosdance.htm">Ice Dance</a>
</ul>

<h2>Skater Info (in-site)</h2>

<a href="/skaters/Men">Men</a> / 
<a href="/skaters/Ladies">Ladies</a> / 
<a href="/skaters/Pairs">Pairs</a> / 
<a href="/skaters/Ice Dance">Ice Dance</a>

<table class="table table-striped table-hover">
  <tr>
    <th>WS Ranking<th>Name<th>Nation<th>WS Points<th>PB<th>Latest Competition
  </tr>
  <% Skater.where("category = ? and ws_ranking <= 200", category).sort_by{|skater| skater.ws_ranking }.each {|skater| %>
  <tr>
    <td><%=h skater.ws_ranking %>
    <td><%= link_to(h(skater.name), "/skater/#{skater.isu_number}") %>
    <td><%=h skater.nation %>
    <td><%=h skater.ws_points %>
    <td>
      <% if skater.pb_total_score > 0 %>
        <%=h "%.2f" % [skater.pb_total_score] %> 
	<% comp = skater.pb_total_category_result.category.competition %>
        (<a href="/competition/<%=h comp.key %>"><%=h comp.name%>)</a>
      <% end %>
    <td><% latest_category = skater.categories.sort_by {|category| category.competition.starting_date }.last %>
      <% if latest_category %>
        <% latest_comp = latest_category.competition %>
	<% res = latest_category.category_results.where(skater: skater).first%>
        <a href="/competition/<%=h latest_comp.key %>">
        <%=h latest_comp.name %> 
	</a>
	(<%=h res.ranking %>: <%=h "%.2f" % [res.points] %>)
      <% end %>
<% } %>
</table>

