

<% isu_number = params[:isu_number].to_i %>
<% skater = Skater.find_by(isu_number: isu_number) %>


<h1>Skater - <%=h skater.name %></h1>

<h2>Biography</h2>

<table class="table">
  <tr>
    <th>Name<td><%=h skater.name %>
  </tr>
  <tr>
    <th>Nation<td><%=h skater.nation %>
  </tr>
  <tr>
    <th>ISU Bio Number<td><%= link_to(skater.isu_number, "http://www.isuresults.com/bios/isufs%08d.htm" % [skater.isu_number]) %>
  </tr>
  <tr>
    <th>Category<td><%=h skater.category %>
  </tr>
</table>


<h2>Personal Best</h2>
<table class="table">
  <tr>
    <th>Personal Best</th>
    <td><%=h "%.2f" % [skater.pb_total_score] %>
      <% comp = skater.pb_total_category_result.category.competition %>
    <td>
      <% if !comp.nil? %>
        <%= link_to(h(comp.name), "/competition/#{h comp.key}") %>
	(<%= h skater.pb_total_category_result.ranking %>)
      <% end %>
  </tr>
  <tr>
    <th>Personal Best - Short Program</th>
    <td><%=h "%.2f" % [skater.pb_sp_score] %>
      <% comp = skater.pb_sp_segment_result.segment.category.competition %>
    <td><% if !comp.nil? %> 
      <%= link_to(h(comp.name), "/competition/#{h comp.key}") %>
	(<%= h skater.pb_sp_segment_result.ranking %>)
      <% end %>
  </tr>
  <tr>
    <th>Personal Best - Free Skating</th>
    <td><%=h "%.2f" % [skater.pb_fs_score] %>
      <% comp = skater.pb_fs_segment_result.segment.category.competition %>
    <td><% if !comp.nil? %> 
      <%= link_to(h(comp.name), "/competition/#{h comp.key}") %>
	(<%= h skater.pb_fs_segment_result.ranking %>)
      <% end %>
  </tr>

</table>
<div>
  (*) note that this PBs are calculated based on on-site results which could be different from officials. pls refer ISU site for correct information. 
</div>

<h2>Competitions</h2>

<table class="table">
  <tr>
    <th>Season<th>Class<th>Competition<th>date<th>Ranking<th>Points<th>SP ranking<th>FS ranking<th>SP details<th>FS details
  </tr>
  <% CategoryResult.where(skater: skater).sort_by {|res| res.category.competition.starting_date}.reverse.each {|res| %>
  <tr>
    <td><%=h res.category.competition.season %>
    <td><%=h res.category.competition.competition_class %>
    <td><%= link_to(h(res.category.competition.name), "/competition/#{h res.category.competition.key}") %>
    <td><%=h res.category.competition.starting_date.strftime("%Y/%m/%d") %>
    <td><%=h res.ranking %>
    <td><%=h res.points %>
    <td><%= link_to(h(res.sp_ranking), "/result/#{h res.category.competition.key}/#{h res.category.name}/#{h res.category.segments.first.name}") %>
    <td><%= link_to(h(res.fs_ranking), "/result/#{h res.category.competition.key}/#{h res.category.name}/#{h res.category.segments.second.name}") if !res.category.segments.second.nil?%>

      <% segments = res.category.segments %>
      <% if !segments.first.nil? %>
    <td> <% seg_res = segments.first.segment_results.where(skater: skater).first %>
      <%=h seg_res.tss %> = <%=h seg_res.tes %> + <%=h seg_res.pcs %> - <%=h seg_res.deductions %>
      <% end %>

      <% if !segments.second.nil? %>
    <td> <% seg_res = segments.second.segment_results.where(skater: skater).first %>
      <%=h seg_res.tss %> = <%=h seg_res.tes %> + <%=h seg_res.pcs %> - <%=h seg_res.deductions %>
      <% end %>
  <% } %>
</table>


